/* Estilos comuns para ambos PC e celular */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #565656;
}

header {
    text-align: center;
    height: 200px;
    background-image: url('img/Captura de tela 2023-10-30 230230.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 30px;
    transition: background-color 0.3s;
}

header:hover {
    background-color: #000;
}

h1 {
    font-size: 32px;
}

p {
    font-size: 18px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

section:hover {
    margin: 20px;
    padding: 20px;
    background-color: rgb(238, 211, 186);
}

#sobre-mim img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 20px;
}

h2 {
    text-align: center;
    display: block;
}

duda {
    text-align: center;
    height: 200px;
    background-image: url('img/Captura de tela 2023-10-30 230230.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 30px;
    transition: background-color 0.3s;
}

duda:hover {
    background-color: #d65d5d;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

search {
    display: flex;
    align-items: center;
}

/* Limitar a largura máxima da barra de pesquisa em dispositivos móveis */
search input {
    max-width: 150px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

search button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

matematica3 {
    background-image: url('img/download (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    text-decoration: none;
}

portugues {
    background-image: url('portugues.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    text-decoration: none;
}

/* Estilos específicos para dispositivos móveis (max-width: 768px) */
@media (max-width: 768px) {
    /* Aplique estilos específicos para dispositivos móveis aqui */
    header {
        padding: 15px;
    }

    projeto {
        width: 100%;
    }

    pepa {
        width: 100%;
    }
}

/* Estilos específicos para PCs (min-width: 769px) */
@media (min-width: 769px) {
    /* Aplique estilos específicos para PCs aqui */
    #projetos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    projeto {
        width: 30%;
        padding: 15px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        transition: transform 0.3s;
    }

    projeto:hover {
        background-color: #646464;
        color: #fff;
        transform: scale(1.05);
    }

    projeto img {
        max-width: 100%;
        height: auto;
        border-radius: 10% 10% 10% 10%;
        box-shadow: 3px 3px 6px #888888;
        transition: 0.2s;
    }
}
